* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

h1,
p {
  color: aliceblue;
}

/*Centralizar uma div filho dentro de uma div pai*/

.cabeçalho {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*container-login*/

.div1 {
  display: flex;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(0, 0, 0, 1) 50%,
    rgba(0, 78, 94, 1) 100%
  );
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
}

.item1 {
  background-color: white;
  border-radius: 1em;
  background: transparent;
  width: 500px;
  height: 500px;
  backdrop-filter: blur(30px);
}

/*locais de inserir dados*/

input {
  font-size: 1em;
  color: white;
}

::-webkit-input-placeholder {
  color: white;
}

.inputlogin input {
  background: rgb(126, 13, 255);
  width: 100%;
  height: 50px;
  margin-bottom: 25px;
  border-radius: 0.3em;
}

.senhalogin {
  position: relative;
  text-align: end;
}

.senhalogin input {
  background: rgb(126, 13, 255);
  width: 100%;
  height: 50px;
  margin-bottom: 25px;
  border-radius: 0.3em;
}

/*botao login*/

.botao {
  color: white;
  font-size: 1.4em;
  display: flex;
  width: 180px;
  height: 50px;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  background: rgb(255, 68, 0);
  background: linear-gradient(
    90deg,
    rgba(255, 68, 0, 1) 0%,
    rgba(255, 113, 57, 1) 50%,
    rgba(255, 154, 0, 1) 100%
  );
}

.botaologin {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}

.Esqueci-a-senha {
  margin-top: 45px;
  margin-left: 15px;
}

/*icons*/

.icons1 {
  display: grid;
  margin-bottom: 25px;
  margin-top: 25px;
  text-align: center;
  letter-spacing: 10px;
}

.fa-facebook,
.fa-google {
  cursor: pointer;
  color: white;
  font-size: 40px;
}

.iconeye {
  cursor: pointer;
  position: relative;
  display: inline-block;
  top: -58px;
  right: 13px;
}

.fa-eye,
.fa-eye-slash {
  cursor: pointer;
  color: #ffffff !important;
}
